.header_date{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $header-date;
    border-radius: 16px;
    width: fit-content;
    padding: 0 15px;
    height: 80px;

    p{
        font-weight: 400;
        font-size: 40px;
        // line-height: 59px;
        color:black
    }
    h2{
        font-weight: 700;
        font-size: 40px;
        // line-height: 59px;
    }
}