.mood-indicator {
    width: 50%;
    height: 80px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding: 0 15px;
    justify-content: space-around;
    align-items: center;
    .img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        &:hover {
            background-color: #ebb8e5;
            border-radius: 50%;
        }
        &:active {
            background-color: $header-date;
            border-radius: 50%;
        }
    }
    .active {
        background-color: $header-date;
        border-radius: 50%;
    }
}