html {
  font-size: $font-size;
  font-family: $font-family;
  background: white;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  padding: 48px;
  background-color: #ebb8e5;
  border: 1px solid #ff6fff;
  border-radius: 12px;
  max-width: $page-width;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  margin: 0 0 2rem;
}

.image {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url('~assets/example.png');
  background-size: cover;
}
