.week_list {
    width: 50%;
    height: 80px;
    display: inline-flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
    gap: 15px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    li{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;

    }
}

// .week_list {
//     width: 50%;
//     height: 128px;
//     display: inline-flex;
//     padding: 0;
//     justify-content: center;
//     align-items: center;
//     list-style: none;
//     color: black;
//     gap: 15px;
//     background: #ffffff;
//     border: 1px solid #e6e6e6;
//     border-radius: 12px;
//     li {
//         display: flex;
//         flex-direction: column;
//         font-weight: 700;
//         font-size: 24px;
//         line-height: 36px;
//     }
// }